<footer class="container-fluid">
    <div class="row">
        <!-- Enlaces -->
        <div class="col">
            <a href="#" class="link">Política de privacidad</a>
            <br>
            <a href="#" class="link">Términos y condiciones</a>
        </div>
        <!-- Logo -->
        <div class="col">
            <img src="./assets/images/logo.svg" alt="Logo Imperial" class="w-50">
        </div>
        <!-- RRSS -->
        <div class="col">
            <h4>Síguenos</h4>
            <a href="https://www.facebook.com">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            </a>
            <a href="https://www.instagram.com">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            </a>
        </div>
    </div>
</footer>
