/*____________________________________________________________________
 Project: Documentación y Optimización CCS3
 Version: 1.0 SCREEN MOBILE MODE
 Last change: 02/11/2022
 Author: Andrea                                                                                                      
______________________________________________________________________
*/
/*Show element*/
.mobile{
   display:none;
}