<header>
    <nav class="navbar navbar-expand-sm bg-light">
        <div class="container-fluid">
            <!-- Links -->
            <a class="navbar-brand" href="#">
                <img src="./assets/images/logo.svg" alt="Logo Imperial" class="w-25">
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Eventos</a>
                </li>
                <li class="nav-item">
                    <!-- Enrutamiento al componente Register, su nombre va según lo que se ponga en app-routing -->
                <a class="nav-link" href="/register">Registro</a>
                </li>
            </ul>
        </div>
    </nav>
</header>